name: 'Code Quality Check'

on:
  pull_request:
    branches:
      - main
      - develop
      - feature/*
      - release/*
      - hotfix/*

concurrency:
  # New commit on branch cancels running workflows of the same branch
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  detect_changes:
    name: Detect changes
    uses: ./.github/workflows/detect-changes.yml
  lint:
    name: Perform static analysis
    needs: detect_changes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Prepare environment
        uses: ./.github/actions/prepare-android-env

      - name: Run lint
        run: ./.github/scripts/run_task.sh lint '${{ needs.detect_changes.outputs.changed }}' --continue --ignore-modules=:sdds-core:plugin_theme_builder,:build-system

      - name: Run detekt
        run: ./.github/scripts/run_task.sh detekt '${{ needs.detect_changes.outputs.changed }}' --continue --ignore-modules=:build-system

      - name: Run spotless
        run: ./.github/scripts/run_task.sh spotlessCheck '${{ needs.detect_changes.outputs.changed }}' --continue --ignore-modules=:build-system

      - name: Upload static analysis reports
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: static_analysis.zip
          path: |
            **/build/reports/**
            !**/build/reports/tests/**

  unit-test:
    name: Perform Unit Testing
    runs-on: ubuntu-latest
    needs: detect_changes
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Prepare environment
        uses: ./.github/actions/prepare-android-env

      - name: Run tests
        run: ./.github/scripts/run_task.sh test '${{ needs.detect_changes.outputs.changed }}' --ignore-modules=:tokens --continue

      - name: Upload test reports
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports.zip
          path: | 
            **/build/reports/tests/**
