name: 'Deploy tokens docs common'

on:
  workflow_call:
    inputs:
      modules:
        type: string
        description: 'Список модулей в формате json (например, [":tokens:plasma-stards", ":tokens:plasma-stards-compose"])'
        required: true
      ref:
        type: string
        description: 'Название ветки, тэга или хэш коммита'
        required: true
      is_repository_dispatch:
        type: boolean
        description: 'True если workflow вызван через repository_dispatch'
        required: false
        default: false

jobs:
  changelog:
    name: Prepare changelog
    runs-on: ubuntu-latest
    outputs:
      content: ${{ steps.build-changelog.outputs.changelog }}
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0

      - name: Build Changelog
        id: build-changelog
        uses: ./.github/actions/release-changelog
        with:
          toTag: ${{ inputs.ref }}
  deploy:
    name: Deploy docs
    needs: changelog
    runs-on: ubuntu-latest
    if: inputs.modules != '' && inputs.modules != '[]' && inputs.ref != ''
    strategy:
      fail-fast: false
      matrix:
        module: ${{ fromJson(inputs.modules) }}
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}

      - name: Create release-changelog.md
        shell: bash
        run: |
          cat > "${{ github.workspace }}/tokens/release-changelog.md" <<EOF
          ${{ needs.changelog.outputs.content }}
          EOF

      - name: Install s3cmd
        run: |
          sudo apt-get update
          sudo apt-get install -y s3cmd

      - name: Prepare environment
        uses: ./.github/actions/prepare-android-env

      - name: Extract branch name
        id: extract_branch
        shell: bash
        run: |
          if [[ "${{ inputs.is_repository_dispatch }}" == "true" ]]; then
            echo "branch=main" >> $GITHUB_OUTPUT
          else
            echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
          fi

      - name: Run deploy docusaurus and collect result
        id: deploy
        env:
          S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
          S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          S3_ENDPOINT: ${{ secrets.S3_ENDPOINT }}
          S3_REGION: ${{ secrets.S3_REGION }}
          S3_BUCKET: ${{ secrets.S3_BUCKET }}
        run: ./gradlew ${{ matrix.module }}:docs:docusaurusDeploy --info -PbranchName=${{ steps.extract_branch.outputs.branch }}

      - name: Run deploy changelog
        env:
          S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
          S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          S3_ENDPOINT: ${{ secrets.S3_ENDPOINT }}
          S3_REGION: ${{ secrets.S3_REGION }}
          S3_BUCKET: ${{ secrets.S3_BUCKET }}
        run: ./gradlew ${{ matrix.module }}:docs:changelogDeploy --info -PbranchName=${{ steps.extract_branch.outputs.branch }}

      - name: Prepare deploy artifacts
        if: success()
        shell: bash
        run: |
          module="${{ matrix.module }}"
          module="${module#:}"
          safe_path="${module//:/\/}"
          artifact_name="docusaurus-${module//:/_}-result"
          mkdir -p artifacts/$safe_path
          cp $safe_path/docs/build/generated/docusaurus/deploy.json artifacts/$safe_path/deploy.json
          echo "Uploading $artifact_name from artifacts/$safe_path"
          echo "ARTIFACT_NAME=$artifact_name" >> $GITHUB_ENV

      - name: Upload deploy result
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: artifacts/
